#! /usr/bin/env nextflow


// parameters
params {
  // directories
  dirs {
    base = "/scratch/courses0100/tross/tross/hpc-assignment-4/"
    src = "${params.dirs.base}src/"
    input = "${params.dirs.base}input/"
    data = "${params.dirs.base}data/"
    output = "${params.dirs.base}output/"
    logging = "${params.dirs.base}logs/"
  }

  // input files
  image = "${params.dirs.input}synthetic_test.fits"
  bkg = "${params.dirs.input}synthetic_test_bkg.fits"
  rms = "${params.dirs.input}synthetic_test_rms.fits"

  // tag
  tag = "test"
}


// enable logging
trace {
  enabled = true
  file = "${params.dirs.logging}${params.tag}_trace.txt"
  sep = ","
}

timeline {
  enabled = true
  file = "${params.dirs.logging}${params.tag}_timeline.html"
}

report {
  enabled = true
  file = "${params.dirs.logging}${params.tag}_report.html"
}

dag {
  enabled = true
  file = "${params.dirs.logging}${params.tag}_dag.png"
}


// profiles
profiles {
  desktop {
    executor {
      name = "local"
      cpus = 8
      memory = "15 GB"
    }

    process {
      publishDir = [path:params.dirs.output, mode:"link", overwrite:true]
      maxForks = 2 // only run two
    }
  }

  hpc {
    singularity {
      enabled = true
      envWhitelist = "MAALI_SINGULARITY_HOME, SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH"
    }

    executor {
      name = "local"
    	cpus = 28
    	memory = "96 GB" // leave a generous overhead for containers
    }

    process {
      publishDir = [path:params.dirs.output, mode:"link", overwite:true]
      module = "singularity"
      container = "/group/courses0100/phancock/robbie-next.sif"
    }
  }
}
